body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.active {
    display: block;
}

.cardBack {
    height: 275px;
    width: 183px;
    display: none; /* use display attribute, not 'visible */
}

.cardFront {
    height: 275px;
    width: 183px;    
}