body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

img {
    height: 275px;
    width: 183px;
}

.cardBack {
    display: none;
}

.cardFront {
    display: none;
}

.active {
    display: block;
}